html, body { height: 100%; }

a {
  color: inherit;
}

body {
  background-color:#F9F5EB;
  font-family: BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-sans;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  color: #503F31;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divider {
  width: 100%;
  border: 1px solid #7E685B;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 45%;
  }

  .intro-container {
    flex-direction: row;
    column-gap: 3vw;
  }

  .divider {
    margin-top: 3vh;
    margin-bottom: 1vh;
  }
}

.section {
  color: #7E685B;
}

.content-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
}

.link-container {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.photo {
  border: 1px solid #503F31;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
}