.img-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 50px;
  margin-top: 3vh;
}

.demo {
  width: 100%;
  max-width: 600px;
  margin-top: 16px;
}

.return {
  margin-top: 1.5em;
}